<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meditation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>549B3F4B3C84CCE7DA44DFE14512EDA55F928FAF</string>
				<key>dateExpires</key>
				<string>29/12/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>549B3F4B3C84CCE7DA44DFE14512EDA55F928FAF</string>
						<key>dateExpires</key>
						<string>29/12/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9ZFGACX692</string>
						<key>name</key>
						<string>SRS Equipment Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9ZFGACX692.com.breathmind.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9ZFGACX692</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Meditation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>448afc74-4934-4bb7-94c9-8618e38cce72</string>
				<key>dateExpires</key>
				<string>29/12/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.breathmind.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9ZFGACX692</string>
				<key>name</key>
				<string>SRS Equipment Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
